.DS_Store
node_modules
/dist
*/imgs
*/cards_imgs
cars_short.json
MainExtr.vue
db.json
rude_all.json
*.ini
hutch_*


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.psd
